@tailwind base;
@tailwind components;
@tailwind utilities;

/* apply h-max to html */
html {
  @apply h-screen;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
}

.chat-window {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  flex-grow: 1;
  padding: 10px;
}

.chat-bubble {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #eee;
  padding: 10px;
  border-radius: 8px;
  align-self: flex-start;
}

.own-message {
  align-self: flex-end;
  background-color: #dcf8c6;
  color: black;
}

.message {
color: black;
}

.sender {
  font-weight: bold;
  color: grey;
}

.chat-input {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.chat-input input[type='text'] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.chat-input button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #25d366;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-input button:hover {
  background-color: #128c7e;
}